/* #region Globals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jockey One", sans-serif;
}

:root {
    --default-blue: #092b55;
    --light-blue: #2e62a3;
    --dark-blue: #010e1f;
    --text-color: #eaf8ff;
    --hilight-blue: #61c2f7;
    --hilight-gold: #ffcd00;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    color: var(--text-color);
}

b {
    font-weight: normal;
    color: var(--hilight-blue);
}

b.gold {
    color: var(--hilight-gold);
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
}

.img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* #endregion Globals*/

/* #region Hero */
#hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url("./assets/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        var(--default-blue) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    z-index: 2;
}

#hero * {
    z-index: 3;
}

.hero-img {
    width: 80%;
    max-width: 600px;
    height: 220px;
}

#hero span {
    font-size: 25px;
    text-shadow: 0 3px 0 rgb(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.hero-button {
    cursor: pointer;
    border: none;
    width: 100%;
    max-width: 330px;
    padding: 0 0;
    font-size: 48px;
    color: var(--light-blue);
    background-color: var(--hilight-blue);
    box-shadow: 0px 5px 0 0 var(--light-blue);
    font-family: "Koulen", sans-serif;
    transition: all 0.2s ease-out;
    animation: bright 3s infinite;
}

@keyframes bright {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.3);
    }
    100% {
        filter: brightness(1);
    }
}

.hero-button:hover {
    filter: brightness(1.1);
    scale: 1.05;
}

/* #endregion Hero*/

/* #region Introduction */
#intro {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--default-blue);
    text-align: center;
    gap: 2.5rem;
    padding: 0 75px 100px 75px;
}

.intro-luffy-img {
    width: 200px;
    height: 200px;
}

#intro h1 {
    text-align: center;
}

#intro p {
    width: 100%;
    max-width: 1000px;
    font-size: 20px;
}

.intro-illustration-img {
    width: 100%;
    max-width: 600px;
    height: 280px;
    margin-top: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.25);
}
/* #endregion Introduction*/

/* #region Crew */
#crew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 3rem;
}

#crew span {
    font-size: 20px;
    text-align: center;
}

/* #endregion Crew */

/*#region Background with skulls*/
.bg-skull {
    position: relative;
}

.bg-skull::before,
.bg-skull::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 45px;
    height: 100%;
    z-index: 1;
}

.bg-skull::after {
    left: 0;
    background: url("./assets/skull-left.png");
    background-size: contain;
}

.bg-skull::before {
    right: 8px;
    background: url("./assets/skull-right.png");
    background-size: contain;
}
/*#endregion */

/*#region Arcs*/
#arcs {
    padding: 3rem 5rem 0 5rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#arcs p {
    font-size: 20px;
}

/*#endregion arcs*/

.end-video {
    border-radius: 1rem;
    border: none;
}

.bg-dark-blue {
    background-color: var(--dark-blue);
    min-height: 100vh;
    padding: 1rem 0;
}

/* #region Slider */
.slider-container {
    display: flex;
    width: 100%;
    background-color: var(--dark-blue);
}

.slider-outer-box {
    display: flex;
    align-items: center;
    position: relative;
    height: 550px;
    width: 200%;
    overflow: hidden;
}

.gradient-left,
.gradient-right {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 5rem;
}

.gradient-left {
    left: 0;
    background: linear-gradient(to right, var(--dark-blue), transparent);
}

.gradient-right {
    right: 0;
    background: linear-gradient(to left, var(--dark-blue), transparent);
}

@keyframes scroll {
    0% {
        left: 0;
    }
    100% {
        left: -200%;
    }
}

@keyframes scrollMobile {
    0% {
        left: 0;
    }
    100% {
        left: -275%;
    }
}

.slider-content {
    width: 400%;
    animation: scroll 15s linear infinite;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider-container .crew-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
    width: 400px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    cursor: pointer;
}

.slider-container .crew-img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}

.shadow {
    position: absolute;
    object-fit: contain;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.shadow.active {
    opacity: 1;
}

.slider-container .crew-img img {
    position: absolute;
    object-fit: contain;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

@media (max-width: 1024px) {
    .slider-content {
        width: 550%;
        animation: scrollMobile 15s linear infinite;
    }

    .slider-container .crew-img {
        height: 200px;
        width: 200px;
    }
}

/* #endregion Slider */

/* #region NavBar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    background: none;
    height: 70px;
    z-index: 999;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.55) 0%,
        rgba(0, 0, 0, 0) 80%
    );
}

li:hover {
    cursor: pointer;
    color: var(--hilight-blue);
    transition: 300ms ease-in-out;
}

.nav_list {
    position: fixed;
    top: 70px;
    right: 1rem;

    width: 200px;
    padding: 1.5rem;
    border-radius: 1rem;

    background: var(--dark-blue);
    color: var(--text-color);
    list-style: none;
    box-shadow: 0px 5px 0px 0px #00000059;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    gap: 1rem;

    opacity: 0;
    transition: opacity 0.2s ease-in;
    z-index: 999;
}

.nav_list li {
    display: flex;
    opacity: 0;
    gap: 1rem;
}

.mobile_menu {
    display: block;
    cursor: pointer;
    transform: scale(0.8);
}

.header-logo {
    width: 70px;
    height: 60px;
}

.mobile_menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px 0;
    transition: 0.3s ease-in-out;
}

.nav_list.active /* "active" é uma classe que vai ser criada lá no JS, e que servirá pra saber se o usuário clicou no botao de menu*/ {
    opacity: 1;
}

.mobile_menu.active .line_1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile_menu.active .line_2 {
    opacity: 0;
}

.mobile_menu.active .line_3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* #endregion Navbar */

/*#region Scrollbar*/
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #374151;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: var(--text-color);
}
/* #endregion Scrollbar*/

/* #region Wavy Divider*/

.wavy-divider {
    --mask: radial-gradient(79.26px at 50% 110.25px, #000 99%, #0000 101%)
            calc(50% - 90px) 0/180px 100%,
        radial-gradient(79.26px at 50% -65.25px, #0000 99%, #000 101%) 50% 45px/180px
            100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    width: 100%;
    height: 75px;
    background: var(--dark-blue);
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.wavy-divider.down {
    rotate: 180deg;
}

/* #endregion Wavy Divider*/
/*#endregion*/

/*#region Modal*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur("10px");
    display: none;
    opacity: 0;

    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;

    transition: 0.3s ease-in;
}

.modal {
    background-color: var(--dark-blue);
    border-radius: 1rem;
    display: flex;
    position: relative;
}

.modal-x {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-img {
    width: 40%;
    height: 100%;
    background-image: black;
    background-size: cover;
    background-position: center;
}

.modal-content {
    width: 60%;
    height: 100%;
    margin-top: 2rem;
    padding: 2rem;
}
